@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  overflow: hidden;
  background-color: #282828;
}

.auth-bg {
  background-image: url("../public/assets/images/AuthBg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-bg {
  background-image: url("../public/assets/images/HomeBg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}